<__trans_section component="InstaPost">

  <h3><__trans phrase="Setting of Simple Post"></h3>
  <mtapp:settinggroup id="simple-post">
    <p><__trans phrase='"Simple Post" posts simply an new entry if subscribe Instagram picture.'></p>

    <mt:include name="handlers_config/publish_entry.tmpl" component="InstaPost">

  </mtapp:settinggroup>

</__trans_section>